{% extends "app/layout.html" %}

{% block content %}

<h1>{{ title }}</h1>

<div class="jumbotron jumbotron-fluid">
    <h1>Welcome to Staffer</h1>
    <h3>The program that was created to simplify your work life while allowing you to grow and develop more.</h3>
</div>

<div class="card">
  <h5 class="card-header">Save time with Staffer</h5>
  <div class="card-body">
    <h5 class="card-title">Add your staff, and press go!</h5>
    <p class="card-text">Staffer takes your employee's preferences and automatically creates a rota that best fits your employees. Great, yeah?!</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}
