<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Shift - Staffer</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    {#<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dashboard.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
</head>
<body>
    <nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-o">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/admin/">Staffer Admin</a>
        <h6 class="text-left">Logged in as: {{ user.first_name }} {{ user.last_name }} &nbsp;</h6>
        <ul class="navbar-nav px-3">
            <form id="logoutForm" action="/accounts/logout/" method="post" class="navbar-right">
                    {% csrf_token %}
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="/accounts/logout/">Sign out</a>
                    </li>
                </form>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/admin">
                                <span data-feather="home"></span>
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/admin/shifts">
                                <span data-feather="calendar"></span>
                                View Shifts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/admin/shifts/add">
                                <span data-feather="edit-3"></span>
                                Add Shift Templates
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/admin/users">
                                <span data-feather="users"></span>
                                Users
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Add Shift</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a href="/dashboard/" class="btn btn-info">Return to dashboard</a>
                        </div>
                    </div>
                 </div>

                <div class="row">
                    <div class="col-md-10">
                        <form id="newShiftForm" action="/submit/newshift/" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-sm-2">Shift name</label>
                                <div class="col-sm-7">
                                    <input name="shiftName" type="text" class="form-control" required="required" />
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Date</label>
                                <div>
                                    <input name="shiftDate" type="date" class="form-control form-inline" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Start time</label>
                                <div>
                                    <input name="shiftStart" type="time" class="form-control form-inline" required="required" />
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">End time</label>
                                <div>
                                    <input name="shiftEnd" type="time" class="form-control form-inline" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Worker limit</label>
                                <div class="col-sm-1">
                                    <input name="shiftLimit" type="number" class="form-control" required="required" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <input class="btn btn-info col-sm-1" type="submit" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tip</h5>
                                <p class="card-text">Remember to ensure the shifts are allocated</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <br />
                
                
            </main>
        </div>
    </div>








    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>