{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Staffer</h1>
        <p>The program that was created to simplify your work life while allowing you to grow and develop more.</p>
    </div>
    
</div>

<div class="card" style="width: 30rem; position: center;">
  <h5 class="card-header">Save time with Staffer</h5>
  <div class="card-body">
    <h5 class="card-title">Add your staff, and press go!</h5>
    <p class="card-text">Staffer takes your employee's preferences and automatically creates a rota that best fits your employees. Great, yeah?!</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}
